---
title: Welcome to Foundation
---

<div class="container">
  <h1>Foundation is Running</h1>
  <p class="working">
    <%= link_to "This Link is Working. Nice work dude.", "#", target: "_blank" %>
  </p>
</div>
